@model IEnumerable<LDSI.Lwg.Apresentacao.Models.Equipe>

@{Layout = "~/Views/Shared/_Layout.cshtml"; }
<p>
    <h3><a asp-action="Create" class="btn btn-success glyphicon glyphicon-plus"></a> Criar nova Equipe</h3>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-warning glyphicon glyphicon-pencil" asp-action="Edit" asp-route-id="@item.EquipeId"></a> |
                    <a class="btn btn-info glyphicon glyphicon-search" asp-action="Details" asp-route-id="@item.EquipeId"></a> |
                    <a class="btn btn-danger glyphicon glyphicon-trash" asp-action="Delete" asp-route-id="@item.EquipeId"></a>
                </td>
            </tr>
        }
    </tbody>
</table>

