@model IEnumerable<LDSI.Lwg.Apresentacao.Models.AlunoTurma>

    <select class="selectpicker" multiple data-live-search="true">
        <option>Mustard</option>
        <option>Ketchup</option>
        <option>Relish</option>
    </select>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Aluno)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Aluno.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turma.TurmaId)
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteAlunoTurma", new { alunoTurma=item})
            </td>
        </tr>
}
    </tbody>
</table>
