@model LDSI.Lwg.Apresentacao.Models.JulgamentoFatos

<h4>JulgamentoFatos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-route-turmaId="@ViewBag.TurmaId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TamanhoEquipe" class="control-label"></label>
                <input asp-for="TamanhoEquipe" class="form-control" />
                <span asp-validation-for="TamanhoEquipe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempoExibicao" class="control-label"></label>
                <input asp-for="TempoExibicao" class="form-control" />
                <span asp-validation-for="TempoExibicao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Continuar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Voltar</a>
</div>

