@model LDSI.Lwg.Apresentacao.Models.Fato

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View</h1>

<div>
    <h4>Fato</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model?.Texto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model?.Texto)
        </dd>
        <div class="custom-control custom-radio custom-control-inline btn btn-primary">
            <input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample">
            <label class="custom-control-label" for="defaultInline1">1</label>
        </div>

        <!-- Default inline 2-->
        <div class="custom-control custom-radio custom-control-inline btn btn-primary">
            <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample">
            <label class="custom-control-label" for="defaultInline2">2</label>
        </div>
    </dl>
</div>


<script type="text/javascript" src="~/js/Pages/JulgamentoFatos/JulgamentoFatosExec.js"></script>
