@model LDSI.Lwg.Apresentacao.Models.Fato

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Texto" class="control-label"></label>
                <input asp-for="Texto" class="form-control" />
                <span asp-validation-for="Texto" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Verdadeiro" /> @Html.DisplayNameFor(model => model.Verdadeiro)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Ordem" class="control-label"></label>
                <input asp-for="Ordem" class="form-control" />
                <span asp-validation-for="Ordem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topicos" class="control-label"></label>
                <input asp-for="Topicos" class="form-control" />
                <span asp-validation-for="Topicos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


